# Python/General
__pycache__/
*.pyc
.env
.venv
venv/
env/

# PlatformIO
.pio/
.vscode/

# Database and Config files (Good practice to not commit these)
*.db
*.db-journal
config.json
profiles.json

# VS Code Workspace file
*.code-workspace

# OS-specific
.DS_Store
Thumbs.db